
<html>
<body>

<div style="padding:40px;margin:40px;border:1px solid #ccc">
<a href="../static/PC_Compound.csv">Download PC CSV File</a>
<!-- <a href="{{STATIC_URL}}/PC_Compound.csv">Download PC CSV File</a> -->
<br></br>
<a href="../static/LPC_Compound.csv">Download LPC CSV File</a>
<!-- <a href="{{STATIC_URL}}/LPC_Compound.csv">Download LPC CSV File</a> -->
<br></br>
<a href="../static/Plasmalogen_Compound.csv">Download Plasmalogen CSV File</a>
<!-- <a href="{{STATIC_URL}}/Plasmalogen_Compound.csv">Download Plasmalogen CSV File</a> -->
<br></br>
</div>

<!-- <div style="padding:40px;margin:40px;border:1px solid #ccc">
<a href="#">Download Zip</a>
</div> -->

<div style="padding:40px;margin:40px;border:1px solid #ccc">
<a href="../static/Roundoff_Dataset.csv">Download RoundOff CSV File</a>
<!-- <a href="{{STATIC_URL}}/Roundoff_Dataset.csv">Download RoundOff CSV File</a> -->
<br></br>
<a href="../static/MeanValues.csv">Download MeanValues CSV File</a>
<!-- <a href="{{STATIC_URL}}/MeanValues.csv">Download MeanValues CSV File</a> -->
<br></br>
</div>
</body>
</html>